@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: url("../assets/img/bg.jpg") center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 20px;
  z-index: 1000;
}

.audio-player {
  height: 90px;
  width: 230px;
  box-shadow: 0 0 10px 0 #fffa;
  border-radius: 30px;
  color: #fff;
  overflow: hidden;
  display: grid;
  padding: 5px;
  margin-bottom: 5px;
}

.song-time {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 0 15px;
}

.time-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: -7px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 120px;
  margin-top: -7px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 25px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 4px;
  font-weight: 900;
}

.item-active {
  opacity: 1;
}

.play-item__play::before {
  width: 18px;
  height: 18px;
  background-size: 18px 18px;
  background-image: url("../assets/svg/play.svg");
}

.play-item__pause::before {
  background-image: url("../assets/svg/pause.svg");
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.song-name {
  color: #fff;
  opacity: .8;
  margin-bottom: 5px;
}

.time-volume {
  display: flex;
  justify-content: space-between;
}

.timeline {
  background: #aaa9a9;
  width: 70%;
  height: 6px;
  position: relative;
  cursor: pointer;
  box-shadow: 0 1px 10px 0 #fff;
  margin: 0 auto;
  margin-top: 8px;
}

.progress {
  background: #fff;
  width: 0%;
  height: 100%;
  transition: 0.25s;
}

.time-audio {
  display: flex;
  opacity: .8;
}

.volume-container {
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.volume-button {
  height: 22px;
  display: flex;
  align-items: center;
}

.volume {
  transform: scale(0.7);
}

.volume-slider {
  position: absolute;
  left: -3px; 
  z-index: -1;
  width: 0;
  height: 15px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 0 20px #000a;
  transition: .25s;
}

.volume-percentage {
  background: #9057b1;
  height: 100%;
  width: 50%;
}

.volume-container:hover .volume-slider {
  left: -123px;
  width: 120px;
}

.volume-icon {
  width: 35px;
  height: 35px;
  background-size: 35px 35px;
  background-image: url("../assets/png/volume.png");
}

.volume-icon__muted {
  width: 35px;
  height: 35px;
  background-size: 35px 35px;
  background-image: url("../assets/png/volume-muted.png");
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;  
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;  
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.footer-menus {
  min-height: 30px;
}

.settings-icon {
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  background-image: url("../assets/svg/settings.svg");
  position: absolute;
  left: 20px;
  cursor: pointer;
  opacity: .8;
}

.settings-icon:hover {
  opacity: 1;
  transition: 0.3s;
}

.settings {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5px;
  column-gap: 8px;
  max-width: 260px;
  align-items: center;
  background-color: #cccccc21;
  border: 2px solid #cccccc3a;
  padding: 10px;
  border-radius: 10px;
  position: fixed;
  left: -260px;
  bottom: 100px;
  transition: 0.7s;
}

.settings.open {
  left: 60px;
}

.setting-name {
  text-align: start;
}

.switch-btn {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 26px;
  border-radius: 19px;
  background-color: #aaa9a937;
  z-index: 0;
  border: 2px solid #aaa9a9;
  cursor: pointer;
  justify-self: end;
}

.switch-btn:hover {
  box-shadow: 0 1px 10px 0 #fff;
  transition: 0.3s;
}

.switch-btn::after {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 17px;
  background-color: #fff;
  box-shadow: 0 1px 10px 0 #fff;
  top: 2px;
  z-index: 1;
  transition: 0.3s;
  text-align: end;
}

.switch-on::after {
  left: 25px;
}

.switch-off::after {
  left: 3px;
  background-color: #ccc;
}

.select {
  background-color: transparent;
  border: 1px solid #aaa9a9;
  border-radius: 5px;
  max-width: 110px;
  width: 100%;
  height: 25px;
  color: #fff;
  opacity: .8;
  cursor: pointer;
  justify-self: end;
}

.select:hover {
  box-shadow: 0 1px 10px 0 #fff;
  transition: 0.3s;
}

.lang {
  max-width: 50px;
}

.tag-input {
  width: 110px;
  height: 23px;
  border: 1px solid #aaa9a9;
  border-radius: 5px;
  padding: 2px;
  justify-self: end;
}

.tag-input:hover {
  box-shadow: 0 1px 10px 0 #fff;
  transition: 0.3s;
}

.hide {
  opacity: 0;
  transition: 0.4s;
}

.visible {
  transition: 0.4s;
}


.links-menu {
  cursor: pointer;
  opacity: .8;
  font-size: 20px;
  position: absolute;
  right: 100px;
}

.links-menu:hover {
  opacity: 1;
  transition: 0.3s;
}

.links-content {
  display: flex;
  flex-direction: column;
  width: 250px;
  min-height: 100px;
  background-color: #cccccc21;
  border: 2px solid #cccccc3a;
  padding: 10px;
  border-radius: 10px;
  position: fixed;
  right: -250px;
  bottom: 100px;
  transition: 0.7s;
}

.links-content.open {
  right: 20px;
}

.links-start, .links-edition {
  display: flex;
  flex-direction: column;
  min-height: 100px;
}

.links-start.closed {
  display: none;
}

.links-edition.closed {
  display: none;
}

.link {
  text-align: start;
  margin-bottom: 5px;
}

.link a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  opacity: .8;
  transition: 0.3s;
}

.link a:hover {
  opacity: 1;
}

.links-list {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.links-list.closed {
  display: none;
}

.links-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.links-wrapper {
  display: flex;
  justify-self: end;
}

.links-edit {
  width: 18px;
  height: 18px;
  background-size: 18px 18px;
  background-image: url(../assets/png/edit.png);
  vertical-align: middle;
  opacity: .9;
  transition: 0.3s;
  margin-right: 3px;
}

.links-delete {
  width: 18px;
  height: 18px;
  background-size: 18px 18px;
  background-image: url(../assets/png/bin.png);
  vertical-align: middle;
  opacity: .7;
  transition: 0.3s;
}

.links-edit:hover, .links-delete:hover {
  cursor: pointer;
  opacity: 1;
}

.links-new {
  font-size: 16px;
  background: none;
  border: none;
  color: #fff;
  opacity: .4;
  align-self: flex-start;
  transition: 0.3s;
  margin-top: auto;
}

.links-new:hover {
  cursor: pointer;
  opacity: 1;
}

.links-add {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 220px;
  font-size: 18px;
}

.links-add.closed {
  display: none;
}

.links-back, .links-back-edit {
  align-self: flex-start;
  margin-bottom: 8px;
  opacity: .8;
}

.links-back:hover, .links-back-edit:hover {
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
  filter: drop-shadow(2px 2px 5px #ffffff);
}

.link-name, .link-name-edit, .link-address, .link-address-edit {
  align-self: flex-start;
  font-size: 18px;
  margin-bottom: 5px;
}

.name-input, .address-input {
  width: 220px;
  height: 28px;
  font-size: 18px;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  outline: none !important;
  align-self: flex-start;
  margin-bottom: 15px;
}

.name-input.bright, .address-input.bright {
  background-color: #cccccc3a;
  border-radius: 3px;
}

.link-btn {
  width: 100px;
  height: 28px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #ccc;
  border: none;
  opacity: .8;
}

.link-btn:hover {
  cursor: pointer;
  filter: drop-shadow(2px 2px 5px #ffffff);
  opacity: 1;
  transition: 0.3s;
}


.todo-menu {
  cursor: pointer;
  opacity: .8;
  font-size: 20px;
  position: absolute;
  right: 20px;
}

.todo-menu:hover {
  opacity: 1;
  transition: 0.3s;
}

.todo-content {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 220px;
  background-color: #cccccc21;
  border: 2px solid #cccccc3a;
  padding: 10px;
  border-radius: 10px;
  position: fixed;
  right: -250px;
  bottom: 100px;
  transition: 0.7s;
}

.todo-content.open {
  right: 20px;
}

.todo-heading {
  font-size: 18px;
  display: flex;
}

.todo-list {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.todo-list.closed {
  display: none;
}

.task {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.todo-item.closed {
  display: none;
}

.task-checkbox {
  vertical-align: middle;
}

.task-done {
  text-decoration: line-through;
}

.task-delete {
  width: 18px;
  height: 18px;
  background-size: 18px 18px;
  background-image: url(../assets/png/bin.png);
  vertical-align: middle;
  opacity: .8;
  transition: 0.3s;
}

.task-delete:hover {
  cursor: pointer;
  opacity: 1;
}

.todo-elem {
  cursor: pointer;
  padding: 5px;
  padding-left: 20px;
  transition: 0.3s;
}

.todo-elem:hover {
  display: list-item;
  background-color: #757575;
  color: #fff;
}

.todo-box {
  margin-top: 20px;
  padding-bottom: 30px;
}

.todo-box.closed {
  display: none;
}

.todo-text {
  margin-top: 10px;
}

.todo-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2a2a2a;
  box-shadow: 0 0 5px 0 #fff;
  width: 130px;
  height: 30px;
  border-radius: 20px;
  margin: 0 auto;
  cursor: pointer;
  opacity: .7;
  transition: 0.3s;
  margin-top: 14px;
}

.todo-btn:hover {
  background-color: #aaa9a9;
  color: #fff;
  opacity: 1;
}

.todo-btn>span {
  color: #fff;
  opacity: 1;
}

.todo-new {
  width: 100px;
  font-size: 16px;
  background: none;
  border: none;
  outline: none !important;
  color: #fff;
  opacity: 1;
  align-self: flex-start;
  transition: 0.3s;
  margin-top: auto;
  display: none;
}

.todo-new::placeholder {
  font-size: 16px;
  color: #ccc;
}

.footer-credits {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.author {
  align-self: center;
}

.author a {
  text-decoration: none;
  color: #ccc;
  opacity: .8;
}

.author a:hover {
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
}

.year {
  align-self: center;
  color: #ccc;
  opacity: .8;
}

.school {
  min-width: 70px;
  padding: 2px;
  opacity: .7;
  filter: drop-shadow(1px 1px 20px #ffffff);
}

.school:hover {
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
}


@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}